<p>MESSAGES PAGE</p>
<p id="roomName" hidden>{{roomName}}</p>
<br>

<form action="/{{roomName}}/messages" method="POST">
    <input type="text" name="nickname" placeholder="NickName" id="nickname" /> <br>
    <input type="text" name="message" placeholder="enter message"/>
    <input type="submit" id="newMessage" value="create message"/> 
</form>

<div>
    <input type="text" name="search" placeholder="Search For Message" id="search" style="margin-left: 45%;"/>
    <button id="searchSubmit">Search</button>
</div>

<ul id="list-template-chat" style="list-style: none">
    {{#each chats}}
         <li> <a>{{this.created}}</a> <a> {{this.message}}  - </a> <a>{{this.name}}</a>  </li>
    {{/each}}
</ul>

<script>
    var submitSearch = document.getElementById("searchSubmit");
    var searchBar = document.getElementById("search");
    submitSearch.addEventListener('click', () => {
        AllMessages();
    })


    var nickname = document.getElementById("nickname").value;
    var rN = document.getElementById("roomName").innerText;
    url = "/" + rN + "/getMessage";
    var ul_element = document.getElementById('list-template-chat');
    var list = ul_element.children;

    AllMessages();

    for(var i = 0; i < list.length; ++i){
        var row = list[i];
        var name = row.lastChild.innerText
        if(name == nickname){ // add nickname
            row.style = "margin-left: 400px"
        }
    }
    //setInterval(AllMessages, 5000);

    document.getElementById("newMessage").addEventListener("click", () => {
        console.log("clicked message")
    })

    async function AllMessages(){
        fetch(url)
    .then(response => response.json())
    .then(data => {
        var chats = data;
        nickname = document.getElementById("nickname").value;

        var html = "";
        var ul_element = document.getElementById('list-template-chat');

        var text = searchBar.value;

        document.getElementById('list-template-chat').innerHTML=""

        for(var j = 0; j < chats.length; ++j) {
            if(text != ""){
                if(!chats[j].message.includes(text)){
                    continue;
                }
            }
            var li = document.createElement('li');
            var a0 = document.createElement('a');
            var a1 = document.createElement('a');
            var a2 = document.createElement('a');
            

            let downVote = document.createElement('button');
            var cnt = document.createElement('a');
            let upVote = document.createElement('button');

            li.appendChild(a0);
            li.appendChild(a1);
            li.appendChild(a2);

            li.appendChild(downVote);
            li.appendChild(cnt);
            li.appendChild(upVote);

            document.getElementById('list-template-chat').appendChild(li)
            a0.innerHTML = chats[j].created + ' '
            a1.innerHTML = chats[j].message + ' - '
            a2.innerHTML = chats[j].name

            downVote.innerHTML = "down";
            upVote.innerHTML = "up";
            downVote.name = chats[j].message + ' - '
            upVote.name = chats[j].message + ' - '
            cnt.innerHTML="0";

            cnt.id = "cnt" + j.toString();
            downVote.id = "dv" + j.toString();
            upVote.id = "uv" + j.toString();

            downVote.onclick = function () {
                var d = downVote.id;
                var sub_d = d.substring(d.length-2);
                if(sub_d[0] == '1' || sub_d[0] == '2' || sub_d[0] == '3' || sub_d[0] == '4' || sub_d[0] == '5' || sub_d[0] == '6' || sub_d[0] == '7' || sub_d[0] == '8' || sub_d[0] == '9'){
                    var cID = "cnt" + sub_d;
                }
                else{
                    var cID = "cnt" +  sub_d[1];
                }
                
                var c = document.getElementById(cID);

                console.log(d,cID)

                count = parseInt(c.innerHTML) - 1;
                c.innerHTML = count.toString();
                chats[j].vote = count.toString();
                console(chats[j].vote);
            }

            upVote.onclick = function () {
                var d = upVote.id;
                var sub_d = d.substring(d.length-2); // this gets the last two values of d (2 values incase for double digit messages)
                if(sub_d[0] == '1' || sub_d[0] == '2' || sub_d[0] == '3' || sub_d[0] == '4' || sub_d[0] == '5' || sub_d[0] == '6' || sub_d[0] == '7' || sub_d[0] == '8' || sub_d[0] == '9'){
                    var cID = "cnt" + sub_d;
                }
                else{
                    var cID = "cnt" +  sub_d[1];
                }
                
                var c = document.getElementById(cID);

                console.log(d,cID)

                count = parseInt(c.innerHTML) + 1;
                c.innerHTML = count.toString();
                chats[j].vote = count.toString();
                console(chats[j].vote);
            }

            if(chats[j].name == nickname){
                li.style = "margin-left: 400px"
            }
        }
       /* for(var i = 0; i < chats.length; ++i){
            var cntId = "cnt" + i.toString();
            var dId = "dv" + i.toString();
            var uId = "uv" + i.toString();

            var d = document.getElementById(dId)
            var u = document.getElementById(uId)
            
            d.addEventListener('click', () => {
                var cid = d.id
                for(var k = 0; k < cid.length; ++k){
                    console.log(cid[k])
                }
            })

        }*/
        console.log("rebuilt")
    })
    .catch(err => {
        console.log("ERROR" + err)
    });}
</script>
