<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="../css/style.css">

<div class="topnav">
  <a href="/home">Home</a>
  <a href="/user/profile">User Profile</a>
  <button style="margin-left: 80%;" id="logout">Logout</button>
</div>

<h1 class="room-title" id="roomName">Room {{roomName}}</h1>

<div class="send-message-form">
        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text" name="nickname" placeholder="NickName" id="nickname" /> <br>
            <label for="message">Message</label>
            <input type="text" name="message" placeholder="enter message" id="message"/>
            <button onclick="sendMessage()">Create Message </button> 
        </div>
</div>

<div class="search-form">
    <input type="text" name="search" placeholder="Search For Message" id="search"/>
    <button id="searchSubmit">Search</button>
</div>

<ul id="list-template-chat" class="list-group-flush">
    <li class="list-group-item"> </li>
</ul>

<script>
    var nickname;
    document.getElementById("logout").addEventListener('click', () => {
            fetch('logout');
            window.location = '/';
    })
    fetch('/username').then(response => response.json()).then(name => {
        console.log('name: ', name)
        if(name == ''){
            window.location = '/';
        }
        document.getElementById('nickname').value = name;
        nickname = name;
    })
    var submitSearch = document.getElementById("searchSubmit");
    var searchBar = document.getElementById("search");
    var votesSet = false;
    // this part should be checked at the login page
    //var nickname = prompt("Please enter username: ", "");
    //while (nickname == "" || nickname == null) {
      //  nickname = prompt("Please enter username: ", "");
    //}
    

    url = "/" + "{{roomName}}" + "/getMessage";
    var ul_element = document.getElementById('list-template-chat');
    var list = ul_element.children;
    AllMessages();
    setInterval(async function() {
        AllMessages();
    }, 1000);

    async function AllMessages(){
        fetch(url)
    .then(response => response.json())
    .then(data => {
        var chats = data;

        var html = "";
        var ul_element = document.getElementById('list-template-chat');

        var text = searchBar.value;

        document.getElementById('list-template-chat').innerHTML=""

        for(var j = 0; j < chats.length; ++j) {
            if(text != ""){
                if(!chats[j].message.includes(text)){
                    continue;
                }
            }
            var li = document.createElement('li');
            const para = document.createElement("p");
            let name = document.createElement("p");
            name.style.fontWeight = "bold";
            name.innerHTML = chats[j].name + " @ " + chats[j].created + ":";
            para.innerHTML = chats[j].message;
            li.appendChild(name);
            li.appendChild(para);
            li.className = "list-group-item";            

            let downVote = document.createElement('button');
            var cnt = document.createElement('a');
            let upVote = document.createElement('button');

            let voteCount = chats[j].vote;

            downVote.innerHTML = '-';
            upVote.innerHTML = '+';

            let id = (chats[j].id).toString();
            console.log(cnt.innerHTML);
            upVote.onclick = function() {
                voteCount = voteCount + 1;
                upvote(id);
            }
            downVote.onclick = function() {
                voteCount = voteCount - 1;
                downvote(id);
            }

            cnt.innerHTML = voteCount;

            li.appendChild(downVote);
            li.appendChild(cnt);
            li.appendChild(upVote);

            document.getElementById('list-template-chat').appendChild(li);
        }
        console.log("rebuilt")
    })
    .catch(err => {
        console.log("ERROR" + err)
    });}

    async function upvote(id) {
        let body = {
            roomName: "{{roomName}}",
            id: id,
        };
        const response = await fetch('/upvote', {
            method: 'put',
            body: JSON.stringify(body),
            headers: {'Content-Type': 'application/json'}
        });
    };

    async function downvote(id) {
        let body = {
            roomName: "{{roomName}}",
            id: id,
        };
        const response = await fetch('/downvote', {
            method: 'put',
            body: JSON.stringify(body),
            headers: {'Content-Type': 'application/json'}
        });
    }

    async function sendMessage() {
        let roomName = "{{roomName}}";
        let message = document.getElementById("message").value;
        let body = {
            nickname: nickname,
            roomName: roomName,
            message: message,
        };
        document.getElementById("message").value = "";
        const response = await fetch('/sendMessage', {
            method: 'post',
            body: JSON.stringify(body),
            headers: {'Content-Type': 'application/json'}
        });
    }
</script>

<form action="/{{roomName}}/edit" method="POST">
    <input type="text" name="oldMessage" placeholder="oldMessage" id="old" /> <br>
    <input type="text" name="messageEdit" placeholder="enter new message"/> <br>
    <input type="submit" id="editMessage" value="edit message"/> 
    <br>
    <br>
</form>

<form action="/{{roomName}}/delete" method="POST">
    <input type="text" name="del_message" placeholder="delete message" id="del" /> <br>
    <input type="submit" id="deleteMessage" value="delete message"/> 
</form>
